<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUYNOW</title>
</head>
<body>

    <h1>BUYNOW - Cadastro</h1>

    <form method="POST">
        <label for="username">Nome:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Cadastrar</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>Usuários Cadastrados</h2>
    <ul>
        {% for user in users %}
            <li>ID: {{ user.id }} - Nome: {{ user.username }} 
                <a href="/edit/{{ user.id }}">| Editar</a>
            </li>
        {% endfor %}
    </ul>
    

</body>
</html>
